body,
html{
  margin: 0;
}

#root {
  height: 100vh;
}

::-webkit-scrollbar {
  background-color: rgba(27,27,27,.4);
  border-radius: 10px;
  width: 10px; //y轴滚动条宽度
  height:3px; //x轴滚动条高度
}

::-webkit-scrollbar-thumb {
  border-radius: 10px; //滚动条的圆角
  background: rgba(70, 64, 64, 0.4); //滚动条的背景颜色
}

::-webkit-scrollbar-track {
  border-radius: 10px; //滚动条的背景区域的圆角
  background: #fff; //滚动条的背景颜色
}